<div class="body container-fluid">
  <!-- Logo Display -->
  <div class="logo align-middle mt-5 animated bounceInUp">
    <img class="rounded mx-auto d-block align-middle" width="170" height="170" src="assets/logo.jpg" alt="A & A Attorneys loading">
  </div>
  <!-- end logo display -->

  <!-- Start of lawquote -->
  <blockquote class="offset-md-4 col-md-4 text-center mt-5 animated bounceInDown">
    <span id="welcome">Welcome To</span> <br /><div id="attorney">A & A Attorneys. </div><br /> <span id="wait"> Please wait for few seconds</span>
  </blockquote>
  <!-- end of lawquOTE -->
</div>
