<div class="container row">
    <div class="col-md-7">
      <h1>Election Petitions</h1>
      An election petition refers to the procedure for challenging the result of a Parliamentary election.
      When a petition is lodged against an election return, there are 4 possible outcomes:
      <ul>
        <li>The election is declared void. The result is quashed and a writ is issued for a new election.</li>
        <li>The election is held to have been undue: the original return is quashed, and another candidate is declared to have been elected.</li>
        <li>The election is upheld, and the member returned is found to have been duly elected.</li>
        <li>The petition is withdrawn. This may occur when the petitioner fails to attend a hearing, or when Parliament is dissolved before the petition process is complete.</li>
      </ul>
    </div>
    <img src="https://images.theconversation.com/files/174760/original/file-20170620-32329-qvf3j6.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" class="col-4 offset-1 d-none d-md-block img-rounded" alt="">
  </div>
  