<div class="row">
  <!-- mail -->
    <div class="col-10 offset-1 col-md-5 row">
      <div class="form-group col-md-6">
        <label for="" class="control-label">Name</label>
        <input type="text" class="form-control" name="" id="">
      </div>
      <div class="form-group col-md-6">
        <label for="" class="control-label">Email</label>
        <input type="email" class="form-control" name="" id="">
      </div>
      <div class="form-group col-12">
        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
      </div>
    </div>

    <!-- address -->
    <div class="col-10 offset-1 col-md-4 mt-5">
      <i class="fa fa-envelope mr-3"></i> <label for="" class="control-label">Email</label>
      <div class="mb-3 form-control">info@ahmedattorneys.net</div>
      
      <i class="fa fa-phone mr-3"></i> <label for="" class="control-label">Phone</label>
      <div class="input mb-3 mr-3 form-control">+234 803 561 8247, +234 805 989 3833</div>
      
      <i class="fa fa-home mr-3"></i> <label for="" class="control-label">Address</label>
      <div class="input mr-3 form-control">No 8, Oluokun Close, Old bodija, Ibadan , Oyo State</div>
    </div>
    
    <!-- //map -->
    <div class="container col-10 offset-1 mt-3" id="map">
    </div>

    <div class="last offset-3 offset-md-5 mt-3">
      © 2019  <span class="ml-4">A & A Attorneys</span> 
    </div>
</div>