<nav class="navbar navbar-expand-lg mt-1">
  <div class="collapse navbar-collapse offset-md-2"  id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item mr-5 home animated">
        <i class="fa fa-legal mr-2"></i> <a class="text-center text-dark font-weight-bold home-text" href="#home">Home</a>
      </li>
      <li class="nav-item mr-5 partners animated">
          <i class="fa fa-legal mr-2"></i> <a class="text-center text-dark font-weight-bold partners-text" href="#">Partners</a>
      </li>
      <li class="nav-item mr-5 about animated">
          <i class="fa fa-legal mr-2"></i><a class="text-center text-dark font-weight-bold about-text" href="#">About Us</a>
      </li>
      <li class="nav-item mr-5 service animated">
          <i class="fa fa-legal mr-2"></i><a class="text-center text-dark font-weight-bold service-text" href="#expertise">Our Services</a>
      </li>
      <li class="nav-item mr-5 contact animated">
          <i class="fa fa-legal mr-2"></i> <a class="text-center text-dark font-weight-bold contact-text" href="#contact">Contact Us</a>
      </li>
    </ul>
  </div>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-legal text-dark"></i>
  </button>
</nav>
  