<div class="container row">
  <div class="col-md-7">
    <h1>Trust and Estates</h1>
      A trust is a right in property (real or personal) which is held in a fiduciary relationship by one party for the benefit of another. 
      The practice involves the preparation of trust agreements, wills, powers of attorney, medical directives, and closely held business structures, including partnerships, limited liability companies, and corporations.
  </div>
  <img src="https://www.harknesshenry.co.nz/assets/Article-images/Adobe-Stock-images/259a73d6c0/Trust__ResizedImageWzEyMDAsNDIxXQ.jpeg" class="col-4 offset-1 d-none d-md-block img-rounded" alt="">
</div>
