<div class="container row">
  <div class="col-md-7">
    <h1>Constitutional Law</h1>
    Constitutional Law is the supreme law of the nation through which the Federal Republic of Nigeria is governed.
    The Nigeria nation has experienced many Constitutional changes since Sir Frederick Lugard in 1914 to the current 1999 Constitution.
    Nigeria has had a series of constitutions. The current constitution was enacted on 29 May 1999, inaugurating the Nigerian Fourth Republic.
    Nigeria: Nine constitutions in 24 years of democracy! If President Goodluck Jonathan is to be believed, Nigerians are about to write yet another constitution. It will be her ninth in the 24 years that they have had democracy out of the 53 years of independence from Britain.
  </div>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Coat_of_arms_of_Nigeria.svg/1200px-Coat_of_arms_of_Nigeria.svg.png" alt="" class="col-4 offset-1 d-none d-md-block">
</div>