<div class="container row">
    <div class="col-md-7">
      <h1>Labour Law</h1>
      Labour law is the area of law most commonly relating to the relationship between trade unions, employers and the government. The development of the field in different jurisdictions has resulted in different specific meanings of what is meant by labour law, it is generally used in reference to employment contexts that involve a trade union. <br />
      At the statutory level, Labour law is concerned with the establishment of a labour-relations framework that provides for orderly and peaceful industrial relations between employers and organized workers, and usually includes rules on forming a union, conditions under which the union becomes bargaining agent, strikes and lock-outs, process for negotiations, and other structural elements that then permit the employer and the union to bargain a collective agreement and fill-in the rest specific to rules and conditions relating to the workplace.
    </div>
    <img src="https://images.squarespace-cdn.com/content/v1/52440ddbe4b03b33d728e5ea/1561557689874-LGNZAMHR9BTZDSK7GC3C/ke17ZwdGBToddI8pDm48kG4VqDreF-qTqyP-RyQBlzwUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcz9FKOkYZZtCaZTQFz_pq4njr3fQnFjhxZuT9qSS4BtKI42iWDYN3Yj3ILGKtJgbC/pablo-709.png" class="col-4 offset-1 d-none d-md-block img-rounded" alt="">
  </div>
  