.navbar {
    background-color: rgba(146, 132, 197, 0.07);
}

nav {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

img {
    border-radius: 10px;
    box-shadow: 5px 5px 1px 1px black
}

.navbar-brand {
    box-shadow: 5px 5px 5px 1px black;
    border-radius: 5px;
}

.time {
    color: gray;
    font-size: 16px
}
.time-text {
    color: gray;
    font-size: 10px
}
