<nav class="navbar navbar-expand-lg mt-1" style="border-bottom: 1px solid white;">
  <div class="row">
    <div class="col-4">
      <img src="assets/logo.jpg" class="offset-md-1 mr-2" alt="" width="80" height="80">
    </div>
    <div class="col-6 navbar-brand p-1 pr-5 row ml-3" style="color: white">
      
        <span>A & A Attorneys</span>
        <span class="p-2 row ml-3" style="color: white; font-size: 10px;">(Frontliner Chambers)</span>
        <span class="row" style="color: white; font-size: 10px;">LEGAL PRACTITIONALS AND CONSULTANTS</span>
     
    </div>
  </div>
  <div class="collapse navbar-collapse offset-md-2"  id="navbarNav"  id="navbarNav">
    <div class="col-md-4">
      <div class="row time">
        8:00 - 18:00
      </div>
      <div class="row time-text">
        Opening Hours Mon. - Sat.
      </div>
    </div>

    <div class="col-md-4">
      <div class="row time">
        +234 803 561 8247
      </div>
      <div class="row time-text">
        Call us anytime
      </div>
    </div>

    <div class="col-md-4">
      <div class="row time">
        No 8, Oluokun Close, Old bodija, Ibadan , Oyo State
      </div>
      <div class="row time-text">
        Reach us anytime
      </div>
    </div>
  </div>
</nav>
  
