<div class="container row">
    <div class="col-md-7">
      <h1>Administration Law</h1>
      Administrative law is the body of law that governs the activities of administrative agencies of government. Government agency action can include rule making, adjudication, or the enforcement of a specific regulatory agenda.
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSFpN8v5B7MJrh1Sh9GbIiiC9GOe4UZj075bnMM3l_x2beWNPFKw" class="col-4 offset-1 d-none d-md-block img-rounded" alt="">
  </div>
  