/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(48, 45, 59);
}
/* scrollbar */
body::-webkit-scrollbar {
    width: .5em;
    height: 0.3em;
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: white;
}
body::-webkit-scrollbar-corner {
    border: 1px solid white
}