
<div class="card-body">
  <div class="row mt-1">
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Leadership:
      </div>
      <div class="col-2 row1">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Integrity:
      </div>
      <div class="col-2">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Commitment:
      </div>
      <div class="col-2">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Attention:
      </div>
      <div class="col-2">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Efficiency:
      </div>
      <div class="col-2 row1">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Goal Driven:
      </div>
      <div class="col-2">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Strength:
      </div>
      <div class="col-2 row1">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Vision:
      </div>
      <div class="col-2">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Courage to go deep:
      </div>
      <div class="col-2 row1">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
    <div class="col-12 col-md-6 row">
      <div class="col-10">
        Professional Approach:
      </div>
      <div class="col-2">
        <i class="fa fa-check-square-o"></i>
      </div>
    </div>
  </div>
</div>